* {
   margin: 0;
   padding: 0;
}

html {
   font-size: 10px;
}

ul,
li {
   list-style: none;
}

caption {
   background-color: #000;
   color: yellow;
}
a {
   text-decoration: none;
   color: inherit;
}

.bt_wrap {
   margin-top: 30px;
   text-align: center;
}
.bt_wrap a {
   display: inline-block;
   min-width: 80px;
   margin-left: 10px;
   color: yellow;
   background-color: #000;
   border-radius: 2px;
   font-size: 1.4rem;
   text-align: center;
}

.bt_list {
   text-align: right;
}
.wrap {
   width: 1000px;
   margin: 0 auto;
}
.board_list {
   width: 100%;
   border-top: 1px solid #000;
   border-collapse: collapse;
   font-size: 1.5rem;
}

.board_list caption {
   padding: 30px;
}

.board_list th,
.board_list td {
   border-bottom: 1px solid #000;
   padding: 10px;
   text-align: center;
}

.board_list td.title > a:hover {
   text-decoration: underline;
}

.board_page {
   margin-top: 30px;
   display: flex;
   justify-content: center;
}

.board_page a {
   text-align: center;
   display: inline-block;
   width: 32px;
   height: 32px;
   box-sizing: border-box;
   line-height: 32px;
}

.board_page a:hover {
   text-decoration: underline;
}
.bt.board_page a.bt {
   font-size: 1.2rem;
   letter-spacing: -1px;
}

.bt_wrap a:hover {
   text-decoration: underline;
}

.board_page a.num {
   font-size: 1.4rem;
   text-align: center;
}
