@charset "utf-8";

/* 초기화 CSS */
body {
    margin: 0;
    padding: 0;
    font-size: 0.9em;
 }
 
 ul {
    list-style: none;
    margin: 0;
    padding: 0;
 }
 
 a {
    color: black;
    text-decoration: none;
 }
 
 p {
    margin: 0;
 }

 /* 고정형 레이아웃 */

.wrap {
    min-width: 1200px;
    overflow: hidden;
 }

 header{
    position: relative;
    height: 85px;
 }
 nav{
    position: fixed;
    width: 100%;
    background-color: #fff;
    padding: 0 53px;
    min-width: 1100px;
    box-sizing: border-box;
 }

.nav__menu{
   overflow: hidden;
   list-style: none;
}

.nav__menu li{
   float: left;
}

.nav__menu li:first-child{
   padding-left: 135px;
}

.nav__menu .menu1{
   display: block;
   position: relative;
   margin-right: 25px;
   padding: 26px 18px 23px;
   font-size: 18px;
   line-height: 20px;
   color: #000;
   text-decoration: none;
}